---
layout: default
---

{% assign collections = site.collections | sort: "order" %}
{% for collection in collections %}
  {% if collection.label != 'posts' %}
    {% assign topic = collection.label %}
    <h2 class="heading" id="{{ topic }}">{{ topic }}</h2>
    {% assign sections = site.[topic] | sort: "order" %}
    {% for section in sections %}
      {% assign layout = "sections/" | append: section.language | append: ".md" %}
      {% include {{ layout }} folder=section.language %}
    {% endfor %}
  {% endif %}
{% endfor %}