{% assign collections = site.collections | sort: "order" %}
<div class="section toc">
  {% for collection in collections %}
    {% if collection.label != 'posts' %}
      {% assign topic = collection.label %}
      <div class="col">
        <h4><a href="#{{ topic }}">{{ topic }}</a></h4>
        <ul>
          {% assign sections = site.[topic] | sort: "order" %}
          {% for section in sections %}
            <li><a href="#{{ section.topic | append: "-" | append: section.slug }}">{{ section.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>